@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
	height: 100%;
	font-size: 14px;
}

body {
	font-family: "PT Sans", sans-serif;
	background-color: var(--surface-ground);
	margin: 0;
	padding: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.2;
}

a {
	text-decoration: none;
}

.layout-wrapper {
	min-height: 100vh;
}
